<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Столицы</title>
</head>
<body>
  <table border="1px">
    <caption>
      Европейские столицы
    </caption>
    <tr>
      <th>id</th>
      <th>country</th>
      <th>capital_city</th>
      <th>capital_population</th>
    </tr>
    {% for capital in list_of_capitals %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ capital.country }}</td>
      <td>{{ capital.capital_city }}</td>
      <td>{{ capital.capital_population }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>